*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "airbnbbold";
    src: url(assets/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
    font-weight: 600;
}
@font-face {
    font-family: "airbnbmedium";
    src: url(assets/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
    font-weight: 400;
}
@font-face {
    font-family: "airbnbsmall";
    src: url(assets/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
    font-weight: 200;
}

/* header */
.search-text-knowt{
    display: flex;
    background: white;
    box-sizing: border-box;
    color: black;
    width: 100%;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 0.5px solid rgba(0,0,0,0.08);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    justify-content: space-between;
}
.headerdiv{
    padding: 14px 24px 0 24px;
    background: white;
    height: 70px;
    width: 100%;

}
.search-icon{
   display: block;
   height: 16px;
   width: 16px;
   fill: currentColor;
}
.search-text{
 -webkit-box-align: center;
 position: relative;
 border-color: black;
 background: transparent;
 display: flex;
 margin: 0;
 padding: 0;
 width: 265px;
 height: 54px;
 align-items: center;
}
.search-outer-icon{
  width: 52px;
  height: 16px;
  padding: 0px 16px 0px 20px;
}
.text-section-main{
    flex-direction: column;
    width: 100%;
    align-items: justify;
}
.text-scetion-inside-main{
    width: 211px;
    height: 20px;
    font-weight: 600;
    line-height: 20px;   
}
.anywhere-div{
 width: 67.39px;
 height: 20px;
 color: #222222;
 font: 14px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.anywhere{
    display: flex;
    width: 67.39px;
    height: 20px;
    font-size: 14px;
    font-family: "airbnbmedium";
    font-weight: 600px;
    line-height: 20px;
}
.anyweek-div{
    display: flex;
    min-width: 50px;
    width: 53.64px;
    height: 16px;
    color: #717171;
    display: flex;
}
.anyweek-main{
    display: flex;
    min-width: 50px;
}
.anyweek{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "airbnbsmall";
    font-weight: 200px;
    font-size: 12px;
    line-height: 20px;
    width: 53.64px;
    height: 16px;

}
.dot{
    padding: 0 5px;
    width: 12.98px;
    height: 16px;
    font-size: 12px;
    font-family: "aribnbsmall";
    color: #717171;
    align-items: justify;

}
.add-guets-main{
    display: flex;
    min-width: 50px;
    color: #717171;
}
.add-guest{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 62.91px;
    height: 16px;
    color: #717171;
    font-family: "airbnbsmall";
    font-weight: 200px;
    font-size: 12px;
}
.knowt-main-div{
    -webkit-box-align: center;
    width: 56px;
    height: 54px;
    display: flex;
    position: relative;
    border-radius: 0px;
    background: transparent;
    align-items: center;
}
.knowt-div{
 width: 36px;
 height: 36px;
 margin: 0px 10px;
 align-items: center;
 box-sizing: border-box;
 display: flex;
 height: 36px;
 justify-content: center;
 border-radius: 100px;
 border: 0.5px solid rgba(0,0,0,0.08);
 position: relative;


}
.knowt-icon{
    width: 16px;
    height: 16px;
    display: flex;
    fill: #222222;

}

/* tablet */
.tab-header-div{
    width:100%;
    height: 80px;
    padding: 0px 40px;
    background:white;
    box-sizing: border-box;
    border-bottom: 0.5px solid rgba(0,0,0,0.08);
    align-items: center;
    display: flex;
    position: relative;
}
.airbnb-icon-div{
    align-items: center;
    display: flex;
}
.tab-searchbar-main{
    padding: 0px 24px;
    flex: 0 1 auto;
    min-width: 348px;
}
.tab-searchbar{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.00),
                0 4px 12px rgba(0,0,0,0.05);
    position: relative;
    align-items: center;
    color: black;
    display: inline-flex;
    max-width: 100%;
}
.tab-anywhere-main{
    background: transparent;
    padding-left: 8px;
    border: 1px solid transparent;
    margin: 1px;
    overflow: hidden;
}
.tab-anywhere{
    font-size: 14px;
    line-height: 22px;
    font-weight: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    font-family: "airbnbmedium";
}
.line{
    background-color: #dddddd;
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
}
.tab-anyweek-main{
    background: transparent;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: -1px;
}
.tab-anyweek{
    padding: 0px 16px;
    font-size: 14px;
    font-family: "airbnbmedium";
    font-weight: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    display: in;
}
.tab-addguests-main{
    background: transparent;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: -1px;
}
.tab-addguests{
    padding: 0 16px;
    color: #717171;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    font-family: "airbnbmedium";
}
.tab-searchicon-div{
    background-color: #FF385c;
    margin: 7px 7px 7px 0;
    border-radius: 50%;
    padding: 10px;
    color: white;
    height: 32px;
    width: 32px;
}
.tab-search-icon{
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: currentColor;
    overflow: visible;
}

@media screen and (min-width:744px){
    .headerdiv{
        display: none;
    }
}
@media screen and (max-width:744px){
    .tab-header-div{
        display: none;
    }
}