*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "airbnbbold";
    src: url(assets/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
    font-weight: 600;
}
@font-face {
    font-family: "airbnbmedium";
    src: url(assets/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
    font-weight: 400;
}
@font-face {
    font-family: "airbnbsmall";
    src: url(assets/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
    font-weight: 200;
}
/* header */
.search-text-knowt{
    display: flex;
    background: white;
    box-sizing: border-box;
    color: black;
    width: 100%;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 0.5px solid rgba(0,0,0,0.08);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    justify-content: space-between;
}
.headerdiv{
    padding: 14px 24px 0 24px;
    background: white;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
}
.search-icon{
   display: block;
   height: 16px;
   width: 16px;
   fill: currentColor;
}
.search-text{
 -webkit-box-align: center;
 position: relative;
 border-color: black;
 background: transparent;
 display: flex;
 margin: 0;
 padding: 0;
 width: 265px;
 height: 54px;
 align-items: center;
}
.search-outer-icon{
  width: 52px;
  height: 16px;
  padding: 0px 16px 0px 20px;
}
.text-section-main{
    flex-direction: column;
    width: 100%;
    align-items: justify;
}
.text-scetion-inside-main{
    width: 211px;
    height: 20px;
    font-weight: 600;
    line-height: 20px;
    line-height: 20px;   
}
.anywhere-div{
 width: 67.39px;
 height: 20px;
 color: #222222;
 font: 14px;
 padding: 0px 0px 0px 2px;
}
.anywhere{
    display: flex;
    width: 67.39px;
    height: 20px;
    font-size: 14px;
    font-family: "airbnbmedium";
    font-weight: 600px;
    line-height: 21px;
}
.anyweek-div{
    display: flex;
    min-width: 50px;
    width: 55.64px;
    height: 16px;
    color: #717171;
    display: flex;
    padding: 0px 0px 0px 2px;
}
.anyweek-main{
    display: flex;
    min-width: 50px;
    width: 211px;
    height: 16px;
}
.anyweek{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "airbnbsmall";
    font-weight: 200px;
    font-size: 12px;
    line-height: 16px;
    width: 53.64px;
    height: 16px;
}
.dot{
    padding: 0 5px;
    width: 12.98px;
    height: 16px;
    font-size: 9px;
    font-family: "aribnbsmall";
    color: #717171;
    align-items: justify;
    line-height: 16px;
}
.add-guest-main{
    display: flex;
    min-width: 50px;
    color: #717171;
    padding: 0px 0px 0px 0px;
}
.add-guest{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 62.91px;
    height: 16px;
    color: #717171;
    font-family: "airbnbsmall";
    font-weight: 200px;
    font-size: 12px;
}
.knowt-main-div{
    -webkit-box-align: center;
    width: 56px;
    height: 54px;
    display: flex;
    border-radius: 0px;
    background: transparent;
    align-items: center;
}
.knowt-div{
 width: 36px;
 height: 36px;
 margin: 0px 10px;
 align-items: center;
 box-sizing: border-box;
 display: flex;
 height: 36px;
 justify-content: center;
 border-radius: 100px;
 border: 0.5px solid rgba(0,0,0,0.08);
}
.knowt-icon{
    width: 16px;
    height: 16px;
    display: flex;
    fill: #222222;
}

/* tablet */
.tab-header-div{
    width:100%;
    height: 80px;
    padding: 0px 40px;
    background:white;
    box-sizing: border-box;
    border-bottom: 0.5px solid rgba(0,0,0,0.08);
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 100;
}
.airbnb-icon-div{
    align-items: center;
    display: flex;
}
.tab-searchbar-main{
    padding: 0px 24px;
    flex: 0 1 auto;
    min-width: 348px;
    cursor: pointer;
}
.tab-searchbar{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2),
                0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    align-items: center;
    color: black;
    display: inline-flex;
    max-width:100%;
    width: 341px;
    height: 48px;
}
.tab-anywhere-main{
    background: transparent;
    padding-left: 25px;
    border: 1px solid transparent;
    overflow: hidden;
    width: 130px;
    height: 26px;
    padding: 1px 16px 0px 22px;
}
.tab-anywhere{
    font-size: 14px;
    line-height: 22px;
    font-weight: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    font-family: "airbnbmedium";
    width: 58px;
    height: 22px;
}
.line{
    background-color: #dddddd;
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
    padding: 0px 0px 0px 0px;
}
.line-one{
    padding: 0px 0px 0px 5px;
}
.line-two{
    padding: 0px 0px 0px 0px;
}
.tab-anyweek-main{
    background: transparent;
    padding: 2px 0px 0px 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: -1px;
    width: 95.72px;
    height: 24px;
}
.tab-anyweek{
    padding: 0px 16px 0px 16px;
    font-size: 14px;
    font-family: "airbnbmedium";
    font-weight: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 94.72px;
    height: 22px;
}
.tab-addguests-main{
    background: transparent;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: -1px;
    width: 142.34px;
    height: 22px;
}
.tab-addguests{
    padding: 0px 16px;
    color: #717171;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    font-family: "airbnbsmall";
    width: 101.34px;
    height: 22px;
    min-width: (80px,0px);
}
.tab-searchicon-div{
    padding: 0px 0px 0px 0px;
    background-color: #FF385c;
    margin: 7px 6px 7px 0;
    padding: 10px;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 40px;
}
.tab-search-icon{
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: currentColor;
    overflow: visible;
    position: relative;
}
.accountinfo{
   width: 267.344px;
   height: 80px; 
   display: flex;
   padding: 2px 0px 0px 0px;
   cursor: pointer;
}
.yourhome-main{
    box-sizing: border-box;
    width: 148.34px;
    height: 42px;
    padding: 29px 0px 0px 12px;
}

.yourhome{
    width: 118.34px;
    height: 18px;
    color: #222222;
    font-family: "airbnbmedium";
    font-size: 14px;
    justify-content: space-between;
    /* margin: auto; */
}
.glob-main{
    width: 46px;
    height: 42px;
    align-items: center;
    padding:29px 0px 0px 9px;
}
.glob-icon{
    width: 16px;
    height: 16px;
}
.dashboard-person-main{
 width: 79px;
 height: 42px;
 background: #ffffff;
 background: transparent;
 border: 1px solid #dddddd;
 border-radius: 21px;
 margin-top: 17px;
 align-items: center;
 display: flex;
   
}
.dashboard-main{
  padding: 6px 0px 0px  12px;
}
.dashboard{
    width: 16px;
    height: 16px;
}
.persional-info-main{
    padding: 6px 3px 0px 12px;
}
.persional-info{
    width: 30px;
    height: 30px;
}
.airbnb-texticon-div{
    padding: 6px 0px 0px 0px;
    cursor: pointer;
}
.navigation-main-div{
    width: 100%;
    padding: 24px 36px 0px 36px; 
    box-sizing: border-box;
    border-bottom:1px solid rgba(0,0,0,0.08);
    overflow: hidden;
    position: fixed;
    display: flex;
    top: 70px;
    background: white;
    z-index: 80;
}
.all-navbar{
    width: 100%;
    height: 78px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 29px;
    row-gap: 32px;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    overflow-x: scroll;
    cursor: pointer;
}
.all-navbar::-webkit-scrollbar{
    display: none;
}
.nav-item-main{
    width: 64px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0px 12px;
    padding: 0px 0px 0px 0px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}
.nav-item-main::after{
    content: "";
    left: 0px;
    right: 0px;
    background: #B0B0B0;
    position: absolute;
    bottom: 0px;
}
.nav-item-main:hover{
    opacity: 1;
}
.show-selection{
    border-bottom: 4px solid black;
}
.selection-hovering-effect{
    position: relative;
}
.selection-hovering-effect:hover .nav-item-main::after{
   height:1px;
}
.nav-icon{
    width: 24px;
    height: 24px;
    fill:black;
}
.nav-text{
    height: 16px;
    color:black;
    font-size: 12px;
    font-family: "airbnbmedium";
    line-height: 25px;
    white-space: nowrap;
}
.filter-main-div{
    width: 28px;
    height: 28px;
    padding: 11px 0px 0px 0px;
}
.filter-main{
    width: 150px;
    height: 78px;
    align-items: right;
    display: flex;
}
.nav-scroll-div{
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border-radius: 100%;
    border: 0.5px solid rgba(0,0,0,0.3);
    display: flex;
}
.scroll-icon{
    width: 12px;
    height: 12px;
    margin: auto;
}
.navigation-scroll-header{
    overflow-x: hidden;
}
.tab-navigation-div{
    width: 335.11px;
    height: 78px;
}
.filter-icon-main{
    width: 90.56px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 12px;
}
.filter-icon-main-div{
    width: 88.56px;
    height: 18px;
    padding: 0px 16px 0px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.filter-icon{
    height: 14px;
    width: 14px;
    fill: currentColor;
    margin-top: 3px;
}
.filter-text{
    width: 34.56px;
    height: 16px;
    font-size: 12px;
    color: #222222;
    display: block;
    line-height: 1rem;
    font-weight: 500;
    font-family: "airbnbmedium";
}
.otherthan-nav{
    margin-top: 168px;
    margin-bottom: 30px;
    padding: 0px 24px;
    grid-auto-flow: column;
    column-gap: 24px;
    row-gap: 24px;
    overflow-y: scroll;
}
.otherthan-nav::-webkit-scrollbar{
    display: none;
}
.taxes-main{
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid #dddddd;
    grid-column: 2/3;
}
.taxes-main-div{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
    padding-left: 16px;
    height: 100%;
    align-items: center;
}
.taxes-text{
    font-size: 14px;
    line-height: 1rem;
    font-weight: 500;
    font-family: "airbnbmedium";
    width: 249px;
    height: 17px;
    margin-top: 13px;
    margin-bottom: auto;
}
.movebutton-main{
    background-color:#B0B0B0;
    box-sizing: border-box;
    border-radius: 32px;
    border: 1px solid #B0B0B0;
    position: relative;
    outline: none;
    min-width: 36px;
    width: 36px;
    height: 24px;
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
}
.movebutton-inside{
    width: 22px;
    height: 22px;
   box-sizing: border-box;
   border: 1px solid #B0B0B0;
   border-radius: 50%;
   background-color:#ffffff;   
}
.movebutton-div{
    padding-right: 16px;
}
.otherthan-scroll{
    display: grid;
    grid-auto-flow: column;
    row-gap: 2px;
    column-gap: 0px;
    padding: 0px 0px 0px 0px;
}
.taxes{
    display: grid;
    grid-auto-flow: column;
    padding: 0px 0px 0px 0px;
    margin-bottom: 22px;
    grid-template-columns:  repeat(1,1fr);
}
.filter-text-main{
    padding-left: 20px;
}
.main-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 35px;
    column-gap: 20px;
}
.main-body-griditem{
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    width: 100%;
    height: 100%;
}
.grid-image{
    width: 100%;
    background: transparent;
    border: none;
    aspect-ratio: 20/19;
}
.like-main{
    width: 32px;
    height: 32px;
    background: transparent;
    margin: -2px 0px 0px;
    padding: 2px 0px 0px;
    z-index: 10;
    top: 16px;
    right: 8px;
    position: absolute;
}
.like{
    width: 24px;
    height: 24px;
}
.carousels-container{
    background: transparent;
     position: absolute;
     bottom: 10%;
     left: 50%;
     display: flex;
     justify-content: space-between;
}
.carousels{
    width: 5px;
    height: 5px;
    border-radius: 40px;
    background: white;
    margin-right: 6px;
}
.carousels-other{
    width: 5px;
    height: 5px;
    border-radius: 40px;
    background:#B0B0B0;
    margin-right: 6px;
}
.grid-image-div{
    display: flex;
    height: 310px;
    width: 327px;
    position:relative;
    overflow-x: hidden;
    border-radius: 11px;
}
.slider{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider-button-left-container{
    width: 32px;
    height: 32px;
    border-radius: 40px;
    background: white;
    left: 10px;
    top: 50%;
    position: absolute;
    z-index: 10;
    display: flex;
}
.slider-button-left{
    margin: auto;
    width: 12px;
    height: 12px;
}
.slider-button-right-container{
    width: 32px;
    height: 32px;
    border-radius: 40px;
    background: white;
    right: 10px;
    top: 50%;
    position: absolute;
    z-index: 10;
    display: flex;
}
.slider-button-right{
    margin: auto;
    width: 12px;
    height: 12px;
}
.grid-image-div::-webkit-scrollbar{
    display: none;
}
.grid-text-div{
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    line-height: 23px;
    margin-top: 12px;
}
.grid-text-head{
    text-overflow: ellipsis;
    color: #222222;
    font-size: 15px;
    font-family: "airbnbmedium";
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.rupee-section{
    display: flex;
    line-height: -12px;
}
.grid-text-body{
    color: #717171;
    font-size: 15px;
    font-family: "airbnbsmall";
    font-weight: 400;
}
.night{
    color: #222222;
    font-size: 15px;
    font-family: "airbnbsmall";
    font-weight: 400;
}
.rating-main{
    width: 46.23px;
    height: 19px;
    justify-self: end;
    display: flex;
    line-height: 0px;
    align-items: center;
}
.star{
    width: 12px;
    height: 12px;
    fill: #222222;
}
.rating-text{
    width: 30.23px;
    height: 19px;
    margin-inline-start: 4px;
    color: #222222;
    font-feature-settings:"tnum";
    font-variant-numeric: tabular-nums;
    font-size: 15px;
    line-height: 19px;
}
.map-pseudo-div{
    width: 100%;
    height: 10%;
    background: transparent;
    display: flex;
    position: fixed;
    top: 725px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.map-main-div{
    width: 89.3px;
    height: 40px;
    border-radius: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.08);
    background: #222222;
    align-items: center;
    justify-content: center;
   }
.map-div{
    width: 49.38px;
    height: 16px;
    display: flex;
    margin:11px 10px 10px 19px;
    justify-content: space-between;
}
.showmap-div{
    width: 92.45px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    margin: 14px 0px 1px 19px;
}
.showmap-text{
    width: 68.48px;
    height: 18px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    font-family: "airbnbsmall";
}
.map-text{
   font-family: "airbnbsmall";
   font-size: 12px;
   line-height: 16px;
   color: white;
   font-weight: 600;
}
.footer-main{
    background:#f7f7f7;
}
.footer-firstpart{
    width: 100%;
    height: 100%;
    padding: 48px 24px;
    box-sizing: border-box;
    border-bottom:1px solid #dddddd ;
}
.heading-one{
    height: 26px;
    color: #222222;
    font-family: "airbnbmedium";
    font-size: 22px;
    margin: 0px 0px 8px;
}
.footer-nav-main{
   padding-top: 16px;
   box-sizing: border-box;
   border-bottom: 1px solid #DDDDDD;
}
.footer-nav{
    display: grid;
    white-space: nowrap;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 26px;
    padding-top: 0px;
    overflow: scroll;
}
.footer-nav::-webkit-scrollbar{
    display: none;
}
.footer-nav-item
{
    margin: auto;
    font-family: "airbnbmedium";
    font-size: 14px;
    height: 40px;
}
.nav-notation{
    box-sizing: border-box;
    height: 40px;
    position:relative;
}
.nav-indicator{
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 38px;
}
.footer-grid-main{
    width: 100%;
    padding: 32px 0px 0px;
    display: grid;
}
.footer-grid{
    display: grid;
    column-gap: 8px;
    row-gap: 24px;
    grid-template-columns: repeat(2,1fr);
}
.footer-grid-item{
    height: 36px;
    font-size: 14px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.footer-grid-item-head{
   color: #222222;
   height: 18px; 
   font-family: "airbnbmedium";
}
.footer-grid-item-body{
    color: #717171;
    height: 18px;
    font-family: "airbnbsmall";
}
.footer-midsection{
    padding: 0px 24px;
}
.footer-midsection-grid{
    display: grid;
    grid-auto-flow: row;
    row-gap: 0px;
}
.footer-midsection-grid-item{
    padding: 25px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
}
.inner-grid-encloser{
    display: grid;
    grid-auto-flow: row;
    row-gap: 14px;
    box-sizing: border-box;
}
.footer-midsection-grid-item-head{
    height: 18px;
    font-size: 14px;
    color: #222222;
    font-family: "airbnbmedium";
    margin: 0;
    margin-bottom: 13px;
}
.footer-midsection-grid-item-body{
    height: 18px;
    color: #222222;
    font-size: 14px;
    font-family: "airbnbsmall";
}
.footer-bottom-section{
    padding: 24px 24px 23px 24px;
    display: grid;
    grid-auto-flow:row;
}
.bottom-section-sectionone{
    display: flex;
    margin-bottom: -1px;
}
.bottom-section-glob-english{
    display: flex;
    margin-right: 16px;
}
.footer-glob-icon{
    margin-right: 8px;
}
.bottom-section-sectionone-textone{
    white-space: nowrap;
    font-size: 14px;
    color: #222222;
    font-family: "airbnbmedium";
}
.bottom-section-inr-main{
    height: 18px;
    display: flex;
}
.rupee{
    height: 18px;
    font-size: 14px;
    margin-right: 8px;
    font-family: "airbnbmedium";
}
.bottom-section-sectionone-texttwo{
    height: 18px;
    color: #222222;
    font-size: 14px;
    font-family: "airbnbmedium";

}
.bottom-section-sectiontwo{
    height: 41.02px;
    margin-top: 18px;
}
.airbnb-inc{
    height: 18px;
    color: #222222;
    font-size: 14px;
    margin-bottom: 2px;
    font-family: "airbnbsmall";
}
.privacy-terms{
    height: 18px;
    display: flex;
    font-family: "airbnbsmall";
    font-size: 14px;
    color: #222222;
    margin-top: 3px;
}
.privacy-dot{
    width: 19px;
    height: 18px;
    display: flex;
    justify-content: center;
}
.socialmedia-main{
    margin-left: 48px;
}
.facebook{
    margin-right: 16px;
}
.twitter{
    margin-right: 16px;
}
.nav-notation-change{
    color: #717171;
}
@media screen and (min-width:550px) {
    .main-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .taxes{
        grid-template-columns: repeat(2,1fr);
    }
    .taxes-main{
        grid-column: 1/3;
    }
    .taxes{
        margin-left: -12px;
        margin-right: 12px;
    }
 
}
@media screen and (min-width:744px){
    .headerdiv{
        display: none;
    }
    .navigation-main-div{
        width: 100%;
        height: 98px;
        top: 80px;
        position: fixed;
        padding: 20px 40px 0px 40px;
        border-bottom: none;
    }
    .tab-navigation-div{
        width: 100%;
        height: 78px;
        display: flex;
    }
    .otherthan-nav{
        margin: 194px 0px 48px;
        padding: 0px 40px;
    }
    .all-navbar{
        margin-right: 32px;
    }
    .otherthan-scroll{
        position: absolute;
        top: 34px;
        right: 40px;
        background: white;
    }
    .footer-firstpart{
        padding: 48px 40px;
    }
    .footer-bottom-section{
        justify-content: center;
        padding: 24px 40px 24px 40px;
    }
    .airbnb-inc{
        display: flex;
        justify-content: center;
    }
    .bottom-section-sectiontwo{
        align-items: center;
        height: 100%;
        margin-top: 0px;
    }
    .map-main-div{
        width: 132.48px;
        height: 48px;
        top:669px;
        left: 145px;
    }
    .map-div{
        display: none;
    }
    .map-pseudo-div{
        top: 704px;
    }
    .footer-midsection{
        padding: 0px 40px;
    }
    .footer-midsection-grid-item{
        padding: 24px 0px;
    }
    .other-view-footer{
        display: none;
    }
   .footer-botttom-section{
    height: 124px;
    padding: 25px 40px 24px 40px;
   }
   .bottom-section-sectionone{
    height: 18px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
   }
   .socialmedia-main{
    margin-left: 48px;
    height: 18px;
   }
   .bottom-section-sectionone-main{
    width: 100%;
    align-items: center;
   }
   .facebook{
    margin-right: 11px;
   }
   .twitter{
    margin-right: 11px;
   }
   .other-footer-bottom-section{
    display: none;
   }
   .tab-addguests{
    padding: 1px 16px 0px 16px;
   }
   .tab-anyweek-main{
    margin: 0px;
   }
   .taxes-main{
    margin-left: 12px;
   }
   .grid-image-div{
    width: 332px;
    height: 315.39px;
   }
   .grid-image{
    width: 332px;
    height:315.39px ;
   }
   .main-grid{
    column-gap: 24px;
   }
   .footer-grid-main{
    padding: 36px 0px;
   }
   .show-selection{
    border-bottom: 2px solid black;
   }  
}
@media screen and (max-width:744px){
    .tab-header-div{
        display: none;
    }
    .navigation-main-div{
        padding: 0px 24px 0px 24px;
        height: 74px;
    }
    .filter-main{
        display: none;
    }
    .tab-navigation-div{
        width: 100%;
    }
    .otherthan-scroll{
        display: none;
    }
    .socialmedia-main{
        display: none;
    }
    .showmap-div{
        display: none;
    }
    .tab-view-footer{
        display: none;
    }
    .other-view-footer{
        display: none;
    }
    .other-footer-bottom-section{
        display: none;
    }
    .taxes{
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
    }
    .bottom-section-sectionone{
        justify-content: normal;
        align-items: center;
    }
    .slider-button-left-container{
        display: none;
    }
    .slider-button-right-container{
        display: none;
    }
   
}
@media screen  and (min-width:950px){
    .main-grid{
        grid-template-columns: repeat(3,1fr);
    }
    .taxes{
        grid-template-columns: repeat(3,1fr);
        margin-left: -12px;
        margin-right: 12px;
    }
    .taxes-main{
        grid-column: 1/4;
    }
    .footer-grid{
        grid-template-columns: repeat(3,1fr);
    }    
}
@media screen and (min-width:1024px){
    .tab-anywhere{
        font-size: 14px;
        line-height: 22px;
        font-weight: 600px;
        flex: 1 1 auto;
        font-family: "airbnbmedium";
        width: 68px;
        height: 22px;
    }
    .tab-anyweek{
        padding: 0px 16px 0px 16px;
        font-size: 14px;
        font-family: "airbnbmedium";
        font-weight: 600px;
        flex: 1 1 auto;
        width: 97.72px;
        height: 22px;
    }
    .tab-addguests{
        padding: 1px 14px 0px 17px;
        color: #717171;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        flex: 1 1 auto;
        font-family: "airbnbsmall";
        width: 106.34px;
        height: 22px;
        min-width: (80px,0px);
    }
    .footer-midsection-grid{
        grid-auto-flow: column;
        column-gap: 8px;
    }
   .tab-searchbar{
    flex: 0 1 auto;
    width: 349px;
   }
   .pesudo-for-searchbar{
    display: flex;
    flex: 1 0 140px;
   }
   .tab-searchbar-main{
    padding: 0px 30px;
    width: 409.2px;
   }
   .inner-grid-encloser{
    row-gap: 14px;
   }
   .footer-midsection-grid-item{
    padding: 48px 0px 48px 0px;
    width: 309.33px;
    height: 306.09px;
    border-bottom: none;
   }
   .footer-midsection-grid{
    border-bottom: 1px solid #dddddd;
   }
   .taxes{
    margin-left: -12px;
    margin-right: 12px;
   }
   .grid-image-div{
    width: 298px;
    height: 283.72px;
   }
   .grid-image{
    width: 298px;
    height: 283.72px;
   } 
   .carousels-container{
    top: 268px;
   } 
   .bottom-section-sectionone-main{
    margin-bottom: 2px;
   }
   .footer-firstpart{
    height: 429px;
   }
   .footer-grid-main{
    padding: 25px 0px 0px;
   }
   
}
@media screen and (min-width:1126px){
    .airbnb-icon-div{
        display: none;
    }
    .tab-header-div{
        padding: 0px 80px;
    }
    .main-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .taxes{
        grid-template-columns: repeat(4,1fr);
    }
    .taxes-main{
        grid-column: 1/2;
    }
    .footer-firstpart{
        padding: 48px 80px;
    }
    .other-view-footer{
        display: none;
    }}
@media screen and (max-width:1126px){
    .airbnb-texticon-div{
        display: none;
    }
}
@media screen and (min-width:1640px){
    .main-grid{
        grid-template-columns: repeat(5,1fr);
    }
    .taxes{
        grid-template-columns: repeat(5,1fr);
    }
    .taxes-main{
        grid-column: 1/2;
    }
    .other-view-footer{
        display: none;
    }
}
@media screen and (min-width:1440px) {
    .footer-grid{
        grid-template-columns: repeat(6,1fr);
    }
    .taxes{
        grid-template-columns: repeat(4,1fr);
    }
    .taxes-main{
        grid-column: 2/4;
        width: 628px;
        margin-left:22px;
    }
    .other-view-footer{
        display: contents;
    }
  
    .footer-bottom-section{
        display: none;
    }
    .other-footer-bottom-section{
        display: grid;
        grid-auto-flow: column;
        column-gap: 565px;
        padding:24px 80px 24px 80px;
        align-items: center;
        height: 69.02px;
    }
    .bottom-section-sectiontwo{
        display: flex;
        width: 453.36px;
        height: 20.02px;
        margin-bottom: 0px;
    }
    .bottom-section-sectionone{
        width: 261.64px;
        height: 20.02px;
        margin-bottom: 3px;
    }
    .footer-midsection{
        padding: 0px 80px;
    }
    .navigation-main-div{
        padding: 20px 80px 0px 80px;
    }
    .otherthan-scroll{
        right: 80px;
    }
    .otherthan-nav{
        padding: 0px 80px;
    }
    .grid-image-div{
        width: 302px;
        height: 286.89px;
    }
    .grid-image{
        width: 302px;
        height: 286.89px;
    }
    .grid-text-div{
        margin-top: 0px;
        line-height: 21px;
    }
    .pesudo-for-accountinfo{
        display: flex;
        flex: 1 0 140px;
        justify-content: right;
    }
    .tab-searchbar{
        width: 352.2px;
    }
    .facebook{
        margin-right: 11px;
       }
       .twitter{
        margin-right: 11px;
       }
    .socialmedia-main{
        margin-left: 24px;
    }
    .privacy-terms{
        margin-top: 0px;
        margin-left: 19px;
    }
    .airbnb-inc{
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .footer-midsection-grid-item{
        padding: 49px 0px 48px 0px;
    }
    .footer-grid-main{
        padding: 26px 0px 0px;
    }
    .footer-firstpart{
        height: 369px;
        padding: 48px 80px;
    }
    .map-pseudo-div{
        top: 635px;
    }
}
@media screen and (min-width:1880px){
    .main-grid{
        grid-template-columns: repeat(6,1fr);
        column-gap: 20px;
        row-gap: 40px;
    }
    .taxes{
        grid-template-columns: repeat(6,1fr);
        column-gap: 20px;
    }
    .taxes-main-div{
        width: 100%;
        margin-left: 10px;
    }
    .taxes-main{
        margin-left: 202px;
        width: 556px;
        grid-column: 3/4;
    }
    .grid-image-div{
        width: 266.66px;
        height: 253.31px;
    }
    .tab-header-div{
        padding: 0px 80px 0px 80px;
    }
    .navigation-main-div{
        width: 100%;
        padding: 20px 80px 0px 80px;
    }
    .otherthan-nav{
        width: 100%;
        padding: 0px 80px;
        margin: 195px 0px 48px;
        
    }
    .grid-image{
        width: 266.66px;
        height: 253.31px;
    }
    
    .otherthan-scroll{
        right: 80px;
    }
    .map-pseudo-div{
        top: 1036px;
    }
    .footer-firstpart{
        padding: 47px 387px 48px 387px;
    }
    .footer-nav{
        display: grid;
        grid-auto-flow: column;
        justify-content: left;
        align-items: center;
        margin-top: 24px;
    }
    .other-footer-bottom-section{
        display: grid;
        grid-auto-flow: column;
        /* column-gap: 560px; */
        padding: 20px 388px 20px 388px;
        column-gap: 417px;
        justify-content: space-between;
        align-items: center;
    }
    .heading-one{
        margin-top: 0px;
        margin-bottom: 27px;
    }
    .footer-nav-main{
        padding: 0px;
        margin: 0px;
        height: 34px;
    }
    .bottom-section-sectionone-textone{
        margin-left: -1px;
    }
    .footer-glob-icon{
        margin-right: 8px;
        margin-left: -1px;
    }
    .footer-midsection{
        padding: 0px 387px;
    }
    .carousels-container{
        top: 233px;
        left: 108px;
    }
    .grid-text-div{
        margin-top: 9px;
        line-height: 23px;
    }
    .nav-item-main{
        width: 100%;
    }
    .bottom-section-sectionone{
        margin-bottom: 0px;
    }
    .footer-midsection-grid-item{
        padding: 49px 0px 48px 0px;
    }
    .footer-midsection-grid-item-head{
      margin-bottom: 14px;   
    }
    .yourhome-main:hover{
        border-radius: 22px;
        background:#F8F8F8;   
        padding: 0px 0px 0px 0px;
        align-items: center;
        margin-top: 18px;
        padding-top: 11px;
        padding-left: 12px;
     }
    .yourhome:hover{
         margin-top: 12px;
         margin-top: 0px;

    }
    .yourhome{
        padding-right: 0px;
    }
    .glob-main:hover{
       width: 46px;
       height:42px;
       box-sizing: border-box;
       border-radius: 22px;
       background: #f8f8f8;
       margin-top: 16px;
       padding-top: 13px;
       padding-bottom: 4px;
       padding-left: 13px;
       margin-left: -3px;
       margin-right: 4px;
    }
    .glob-icon{
        margin-bottom: 1px;
    }
    .dashboard{
        margin-bottom: 1px;
    }
    .tab-searchbar{
        width: 361.19px;
    }
    .dashboard-person-main:hover{
        box-shadow: 0 1px 2px rgba(0,0,0,0.2),
        0 4px 10px rgba(0,0,0,0.1); 

        
    }
    .footer-grid-main{
        padding: 33px 0px 0px;
    }
    .heading-one{
        margin-bottom: 25px;
    }
    .footer-nav{
        height:34px;
        margin-top: 10px;
    }
    .nav-notation{
        height:34px;
        border-bottom: 2px solid transparent;
    }
    .footer-nav-item{
        height: 34px;
    }
    .nav-indicator{
        top: 32px;
    }
    .footer-midsection-grid-item-head{
      margin: 0px 0px 13px;
    }
    .bottom-section-sectiontwo{
        margin-left: -1px;
        align-items: center;
        margin-top: 1px;
    }
    @media screen and (min-width:1920px) {
        .taxes-main-div{
            padding-left: 0px;
        }
   
        .map-pseudo-div{
            top:795px;
        }

      
       
    }
    @media screen and (min-width:2560px) {
        .otherthan-nav{
            width: 2520px;
            margin: 16px 0px 48px;
            padding: 0px 80px;
        }
        .main-grid{
            column-gap: 0px;
        }

    }
  


}

